.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

@media screen and (max-width: 510px) {
  .footer__list {
    flex-direction: column;
    row-gap: 12px;
  }
}