.about-me__description_title {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .about-me__description_title {
    font-size: 40px;
    line-height: 100%;
  }
}

@media screen and (max-width: 710px) {
  .about-me__description_title {
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (768 - 320)));
  }
}