.promo__title {
  margin: 50px 0 0 70px;
  padding: 0;
  max-width: 626px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 132%;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .promo__title {
    margin: 300px auto 0;
    text-align: center;
  }
}

@media screen and (max-width: 710px) {
  .promo__title {
    margin: 183px 10px 0;
    font-size: calc(31px + (40 - 31) * ((100vw - 320px) / (768 - 320)));
  }
}