.element__pos-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 6px;
  padding-bottom: 25px;
  border-bottom: 1px solid #424242;
  max-height: 24px;
}