.techs__content_title {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 710px) {
  .techs__content_title {
    font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (768 - 320)));
  }
}
