.techs__content_title {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -0.04em;
  color: #fff;
}
