.techs__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  gap: 10px;
}

@media screen and (max-width: 710px) {
  .techs__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .techs__list {
    justify-content: start;
    max-width: 178px;
  }
}