.element__duration {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  color: #8b8b8b;
  line-height: normal;
  text-align: left;
}

@media screen and (max-width: 510px) {
  .element__duration {
    font-size: 10px;
  }
}