.about-me__title {
  margin: 0;
  padding-bottom: 23px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #fff;
  border-bottom: 1px solid #dadada;
}

@media screen and (max-width: 710px) {
  .about-me__title {
    padding-bottom: 28px;
    font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (768 - 320)));
  }
}