.element {
  max-width: 270px;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .element {
    max-width: 339px;
  }
}

@media screen and (max-width: 510px) {
  .element {
    max-width: 300px;
  }
}