.profile__caption-link {
  display: block;
  padding: 0;
  margin: 16px auto 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ee3465;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 510px) {
  .profile__caption-link {
    font-size: 12px;
  }
}