.header__button_mobile {
  display: none;
  width: 28px;
  height: 23px;
  background: url('../../../../images/burger-button.svg') center/28px 23px no-repeat transparent;
  border: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__button_mobile {
    display: block;
    margin-right: 8px;
  }
}