.techs__list_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #fff;
  background-color: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  transition: opacity .3s ease-in-out;
}

.techs__list_link:hover {
  opacity: 0.7;
}