.element__title {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  max-width: 226px;
  max-height: 32px;
}